*.md.html
*.swp
*.tgz
.DS_Store
.project
.settings
.vscode
npm-debug.log
node_modules
package-lock.json
yarn.lock
tsconfig.tsbuildinfo
query-graphs/lib
standalone-server/media/uploads/*
standalone-server/media/uploads/
!standalone-server/media/uploads/3d5c935c.xml
standalone-server/webroot/query-graphs.min.js.map
jupyterlab-extension/yarn.lock
jupyterlab-extension/tsconfig.tsbuildinfo
