*.md.html
*.swp
*.tgz
.DS_Store
.project
.settings
.vscode
npm-debug.log
node_modules
package-lock.json
standalone-server/media/uploads/*
standalone-server/media/uploads/
!standalone-server/media/uploads/3d5c935c.xml
standalone-server/webroot/query-graphs.bundle.css
standalone-server/webroot/query-graphs.bundle.js
