# Editors/file browsers/...
*.swp
.DS_Store
.project
.settings
.vscode

# Package manager
npm-debug.log
node_modules
package-lock.json
yarn.lock

# Build files
*.tgz
*.bundle.*
*.egg-info/
tsconfig.tsbuildinfo
jupyterlab-extension/lib
query-graphs/lib
standalone-server/webroot/*.min.js
standalone-server/webroot/*.min.js.map

# Uploads (from running the upload-server directly inside the repository)
standalone-server/webroot/uploads/
