.file-selection-page {
    min-height: 100%;
    background: var(--primary-bg-color);
    color: var(--primary-fg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-selection-page .logo {
    width: 1.5em;
    margin-right: .5em;
}

.file-selection-page .caption {
    margin-top: 2em;
    font-size: 2em;
    margin-bottom: .5em;
}

.file-selection-page .subcaption {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.file-selection-page-content {
    width: 35em;
    min-width: 40%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1em;
}

.github-link {
    border-top: 1px solid #ccc;
    margin-top: 3em;
    padding-top: 0.8em;
    font-size: 0.9em;
    text-align: center;
    color: gray;
}

.github-link a {
    color: gray;
}

/* Hinted text area */

.hinted-textarea {
    display: flex;
    flex-direction: column;
    border: 1px solid #666;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 1px 2px 5px hsl(0,0%,90%);
}

.hinted-textarea > textarea {
    resize: vertical;
    border: none;
    padding: 0.3em;
}

.hinted-textarea > textarea:focus {
    outline: none;
}

.hinted-textarea > .textarea-hint {
    background: white;
    border-top: 1px solid #666;
    border-color: hsl(0,0%, 80%);
    padding: 0.4em;
    color: #555;
    font-size: .8em;
}

/* Error message */
.file-selection-page .load-error {
    padding: 1em;
    background: hsl(0, 87%, 85%);
    border: 1px solid hsl(0, 48%, 48%);
    border-radius: var(--border-radius);
    white-space: pre-line;
}

/* Submit button */
.file-selection-page button {
    border-radius: var(--border-radius);
}

.file-selection-page > .dragging-operlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    border: .3em dashed #aaa;
    border-radius: .6em;
    padding-top: 20vh;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    color: rgba(0, 0, 0, .6);
}

/* Spinner */

.qg-spinner {
    margin: 3em auto;
    font-size: 1em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: qg-spinner-anim 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes qg-spinner-anim {
0%,
100% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.1), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.4), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.5);
}
12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.5), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.1), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.4);
}
25% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.4), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.5), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.1), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2);
}
37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.4), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.5), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.1), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2);
}
50% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.4), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.5), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.1), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2);
}
62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.4), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.5), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.1), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2);
}
75% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.4), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.5), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.1), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2);
}
87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 2.5em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 1.75em 1.75em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), 0em 2.5em 0 0em rgba(var(--secondary-fg-color-rgb), 0.2), -1.8em 1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.4), -2.6em 0em 0 0em rgba(var(--secondary-fg-color-rgb), 0.5), -1.8em -1.8em 0 0em rgba(var(--secondary-fg-color-rgb), 0.1);
}
}
