body, html, .main-app-container, .app-root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.span-link {
    color: var(--qg-accent);
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--qg-accent);
        text-decoration: underline;
    }
}
