body, html, .main-app-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-app-container {
    /* Colors for the main-area, i.e. the graph view panel */
    --primary-bg-color: #fdfdfd;
    --primary-fg-color: #111;
    --primary-border-color: #999;
    --border-radius: 10px;
}

.span-link {
    color: #5c8aff;
    cursor: pointer;
}

.span-link:hover, span-link:focus {
    color: #2965ff;
    text-decoration: underline;
}
