.graph-title {
    background: #fff;
    font-size: 1.1em;
    font-weight: bold;
    field-sizing: content;
    min-width: 10em;
    border: none;
}

.graph-title:hover {
    background: #ffeded;
}

.graph-metadata {
    background: #fff;
    max-width: 20em;
    word-break: break-all;
}