html, body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.tree-container {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@import "~@tableau/query-graphs/style/query-graphs.css"
