.qg-graph-node {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: .8em;
    padding: .3em .5em;
    margin: -.3em -.5em;
    transition-property: border-color, background, padding;
    transition-duration: 0.5s;
}
.qg-graph-node.qg-expanded {
    background: hsl(0,0%, 95%);
    border-color: hsl(0,0%, 80%);
}

.qg-graph-node-details {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    transition-property: max-width, max-height;
    transition-duration: .5s;
}
.qg-graph-node.qg-expanded .qg-graph-node-details {
    max-width: 30em;
    max-height: 20em;
}
.qg-graph-node-details-inner {
    width: max-content;
    height: max-content;
    max-width: 30em;
    max-height: 20em;
}

.qg-prop-name {
    color: hsl(0, 0%, 50%);
}