.query-graph .react-flow__handle {
  opacity: 0;
}

.query-graph .react-flow__pane,
.query-graph .react-flow__edge,
.query-graph .react-flow__node {
  cursor: default;
}

.query-graph .react-flow__edge-text-bg {
  opacity: .5;
}

.query-graph .react-flow__edge-text {
  font-size: .6em;
}

.query-graph .react-flow__edge.qg-label-highlighted .react-flow__edge-text-bg {
  opacity: 1;
}
.query-graph .react-flow__edge.qg-label-highlighted .react-flow__edge-text {
  fill: hsl(309, 84%, 36%);
}


.query-graph .react-flow__edge.qg-crosslink .react-flow__edge-path {
  stroke: #ccc;
  stroke-dasharray: 4 4;
}

.query-graph .react-flow__edge .qg-crosslink:hover .react-flow__edge-path {
  stroke: hsl(309, 84%, 36%);
}

.query-graph .react-flow__edge .qg-crosslink .react-flow__edge-path:hover {
  stroke: hsl(309, 84%, 36%);
}

.query-graph:hover .react-flow__edge .qg-crosslink .react-flow__edge-path {
  stroke: hsl(309, 84%, 36%);
}